FROM python:3.10-slim

WORKDIR /app

# Files copy karein
COPY . /app/

# Requirements install karein
RUN pip install --no-cache-dir -r requirements.txt

# Back4App ke liye Port Expose karein
EXPOSE 8080

# Environment Variable set karein
ENV PORT=8080

# Bot Run karein
CMD ["python", "app2.py"]
